pds_version                    = # string
aws_account_id                 = # aws account id
aws_sso_role                   = # aws sso role
atproto_pds_container_repo_url = "docker.io/kingyosun/atproto" # Container url
atproto_pds_container_tag      = "latest" # Container tag
host_domain                    = # Domain must be registered in advance
database_password              = # string
database_name                  = # string
database_username              = # string
jwt_secret                     = # string
admin_password                 = # string
invite_required                = "false" # When 'true', invite code is required for creating account
available_user_domains         = # User can select domains when creating account. This string is splited by ','
server_did                     = # DID starting with 'did:plc:', and it exist on plc server
log_level                      = "info" # Logging level of pino
did_plc_server_url             = "https://plc.directory"
ses_smtp_key_id                = # aws_iam_access_key_smtp
ses_smtp_password_v4           = # aws_iam_smtp_password_v4
repo_signing_key               = # repository signing key (hex)